.blocks {
    width: var(--content-width);
    display: flex;
    justify-content: center;
    margin-block: 100px;
    gap: 100px;
    flex-wrap: wrap;
    margin-inline: auto;
}

.about-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.h2-sparkle {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.heading-2 {
    font-family: var(--font-family-heading);
    font-size: 60px;
    line-height: 1.1;
    color: var(--color-white);
    text-transform: uppercase;
}

.h2-center {
    text-align: center;
}

.banner-sparkle-3 {
    width: 126px;
}

.text-boxes {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}

.text-box {
    width: 554px;
    height: auto;
    padding: 20px;
    background: none;
    border-radius: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-yellow);
    box-sizing: border-box;
}

.wide-box {
    width: var(--content-width);
    text-align: center;
}