.clients {
    display: flex;
    width: 1140px;
    margin-top: auto;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 40px;
}

.client-cards {
    width: 1140px;
    display: inline-flex;
    column-gap: 32px;
}

.client-card {
    width: 359px;
    height: 485px;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    border-radius: 16px;
}

.client-card-1 {
    background-image: linear-gradient(rgb(0 0 0 /0), rgb(0 0 0 /0.8)), url(img/client-1.png);
}

.client-card-2 {
    background-image: linear-gradient(rgb(0 0 0 /0), rgb(0 0 0 /0.8)), url(img/client-2.png);
}

.client-card-3 {
    background-image: linear-gradient(rgb(0 0 0 /0), rgb(0 0 0 /0.8)), url(img/client-3.png);
}


.client-card-texts {
    display: flex;
    width: 316px;
    row-gap: 12px;
    flex-wrap: wrap;
}

.h5 {
    font-family: var(--font-family-heading);
    font-size: 32px;
    line-height: 1.1;
    color: var(--color-white);
}

.client-card-heading {
    color: var(--color-yellow);
}