footer {
    width: 100vw;
    height: 450px;
    padding: 100px 0px 40px;
    display: flex;
    justify-content: center;
    border-top: 1px;
    border-color: var(--color-yellow);
    border-style: solid none none;
}

.footer-content {
    width: var(--content-width);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 116px;
}

.footer-links {
    display: flex;
    align-items: flex-start;
    flex: 1;
    gap: 240px;
}

.footer-links-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 16px;
    width: 244px;
}

.footer-links-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 60px;
    width: 178px;
}

.contacts {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-link-container {
    width: 244px;
}

.footer-link:hover {
    color: var(--color-yellow);
}

.footer-link:active {
    color: var(--color-yellow-dark);
}

.body-text-small {
    font-family: var(--font-family-text);
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-white);
}

.body-text-small-nums {
    font-family: var(--font-family-nums);
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-white);
}

.footer-logo {
    font-family: var(--font-family-logo);
    font-size: 50px;
    color: var(--color-yellow);
    line-height: 1.2;
}

.text-icon {
    display: flex;
    gap: 16px;
    align-items: center;
}

.icon {
    width: 28px;
}

.social-media-button-small {
    width: 32px;
}