.free-course {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.course-description {
    display: flex;
    padding: 40px;
    gap: 22px;
    background: none;
    border-radius: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-yellow);
}

.free-course-text-button {
    display: flex;
    width: 770px;
    gap: 76px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.free-course-text {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.free-course-pic-container {
    width: 264px;
    padding: 20px 16px;
    background-color: var(--color-blue-cards);
    border-radius: 16px;
}

.free-course-pic {
    width: 231px;
}