.free-course {
    display: flex;
    width: 1140px;
    margin-top: auto;
    /* justify-content: center; */
    flex-wrap: wrap;
    row-gap: 32px;
}

.course-description {
    display: inline-flex;
    width: 1140px;
    justify-content: space-between;
    padding: 40px;
    background: none;
    border-radius: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-yellow);
}

.free-course-text-button {
    display: inline-flex;
    width: 770px;
    row-gap: 76px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.free-course-text {
    display: inline-flex;
    width: 770px;
    row-gap: 16px;
    flex-wrap: wrap;
}

.free-course-pic-container {
    width: 264px;
    height: auto;
    padding: 20px 16px;
    background-color: var(--color-blue-cards);
    border-radius: 16px;
}

.free-course-pic {
    width: 231px;
}