header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 36px;
    flex: 1;
    z-index: 1;
}

.logo {
    font-family: var(--font-family-logo);
    font-size: 28px;
    line-height: 1.2;
    color: var(--color-yellow);
}

.links {
    display: flex;
    gap: 60px;
}

a.menu-link {
    font-family: var(--font-family-text-bold);
    font-size: var(--font-size-body);
    line-height: 1.5;
    color: var(--color-white);
}

a.menu-link:hover {
    color: var(--color-yellow);
}

a.menu-link:active {
    color: var(--color-yellow-dark);
}